version: "3.9"
services:
  mongo:
    image: mongo:6
    container_name: tp_mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  neo4j:
    image: neo4j:5.23
    container_name: tp_neo4j
    environment:
      - NEO4J_AUTH=neo4j/neo4jpassword
      - NEO4J_server_memory_pagecache_size=1G
      - NEO4J_server_memory_heap_initial__size=512m
      - NEO4J_server_memory_heap_max__size=512m
    ports:
      - "7474:7474"
      - "7687:7687"
    volumes:
      - neo4j-data:/data
      - neo4j-logs:/logs

  app:
    build: .
    container_name: tp_app
    depends_on:
      - mongo
      - neo4j
    environment:
      MONGO_URI: "mongodb://root:example@mongo:27017/?authSource=admin"
      MONGO_DB: "aseguradora_tp"
      NEO4J_URI: "bolt://neo4j:7687"
      NEO4J_USER: "neo4j"
      NEO4J_PASSWORD: "neo4jpassword"
      DO_IMPORT: "1"
      DO_DROP: "1"
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    command: ["/bin/bash", "docker/entrypoint.sh"]

volumes:
  mongo-data:
  neo4j-data:
  neo4j-logs:

